nav {
    position: absolute;
    top: 20px;
    right: 20px;
    right: 20px;
    background-color: #191970; /*midnight blue */
    padding: 10px 20px;
    border: 2px solid gold;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: gold;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    transition: 1.0s ease-in-out;
}