* {
    background-color: #003049;
}

/* HEADER */
header {
    display: flex;
    justify-content: left;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #003049;
    align-items: center;
    color: white;
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */

/* NAVIGATION BAR */
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 1;
    overflow: hidden;
    background-color: #003049;
}   

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    background-color: #eae2b7;
    color: black;
    transition: 350ms;
}
/* NAVIGATION BAR */

iframe.spotify {
    display: flex;
    justify-content: center;
    padding-top: 12%;
}

p.first {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eae2b7;
    color: black;
    justify-content: center;
}
h1 a{
    text-decoration: none;
}

h1 a:visited, a:hover, a:active{
    text-decoration: none;
    color: initial;
    color: white;
}
h2 {
    background-color:#eae2b7;
    color: black;
    display: flex;
    justify-content: center;
}

.dashstar{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p.d_para {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    flex: 1;
}

.gettin_hot {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 30px;
    margin: 40px auto;
    max-width: 500px;
    width: 100%;
}

.g_para {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.g_para ol {
    padding-left: 20px;
    margin-top: 10px;
    color: white !important;
}

.g_para li {
    line-height: 1.5;
    margin-bottom: 8px;
    color: white;
}